Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: ${ownerName} <${ownerEmail}>
Section: web
Priority: optional
Depends: alertmanager-server | alertmanager-radio
Description: [[description]]
